#The Basic Pandas Data Structures

In [2]:
import numpy as np
randn = np.random.randn
from pandas import * #loads pandas in to namespace
import pandas as pd

##Rule one: Data alignment is intrinsic.

#Series


Series is a one-dimensional labeled array capable of hodling any data type.

The basic method to creat a Series:

s = Series(data, index=index)

index will default be [0, ..., len(data)-1].

In [148]:
# data from ndarray
s = Series(randn(3))#Create Serice s with out give index
DataFrame(s)

          0
0  1.062938
1 -1.185800
2 -0.068634

In [16]:
s.index # Show default index

Int64Index([0, 1, 2], dtype='int64')

In [18]:
s.index=[list('ABC')]# Change Series'index
DataFrame(s)

          0
A -0.697256
B -0.122940
C  1.534995

In [149]:
s = Series(randn(3), index=['一','二','三'])
DataFrame(s)

          0
一 -1.400639
二 -0.064891
三 -0.073966

In [79]:
# data from python dict, the index will be the audo sorted keys.
d = {'a':0., 'c':1., 'b':2}
DataFrame(Series(d))

   0
a  0
b  2
c  1

In [38]:
# Give index when create the series from dict, exist key-value will keep, no-exist key will be created with NaN value.
DataFrame(Series(d, index=['A','b','c']))

    0
A NaN
b   2
c   1

In [80]:
# data from a scalar value 标量。The index must be given and the scalar value will be repeated match the index length.
DataFrame(Series(5, index=list('ABC')))

   0
A  5
B  5
C  5

##Series is ndarray-like

In [81]:
(s[1])# slice one

-0.029426848227004542

In [82]:
s[:3] # slice piece

一   -0.498898
二   -0.029427
三   -0.805408
dtype: float64

In [84]:
s[(s>=s.median())&(s!=s.median())] # slice by condition

二   -0.029427
dtype: float64

In [85]:
s[[1,2]] # slice separated one, have to use double []

二   -0.029427
三   -0.805408
dtype: float64

##Series is dict-like

In [86]:
s

一   -0.498898
二   -0.029427
三   -0.805408
dtype: float64

In [87]:
s['一']

-0.49889781844000591

In [96]:
s['一']= 'String'
s

一        String
二   -0.02942685
三    -0.8054079
dtype: object

In [94]:
'一' in s # search index is in.

True

In [98]:
'String' in s # can't search value is in.

False

In [100]:
s.get('一') # get() with index to get the value in given index position.

'String'

In [104]:
s.get('四','no') # give the None message.

'no'

##Vectorized operations and label alignment with Series

In [105]:
s + s

一    StringString
二      -0.0588537
三       -1.610816
dtype: object

In [107]:
s * 3

一    StringStringString
二           -0.08828054
三             -2.416224
dtype: object

In [108]:
s[1:] + s[:-1] # same constraction calcul and setting the outer to NaN

一          NaN
三          NaN
二   -0.0588537
dtype: object

In [112]:
s.name='something'# give the Series instance a name.
s

一        String
二   -0.02942685
三    -0.8054079
Name: something, dtype: object

#DataFrame

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.

Can think it as a dict of Series objects.Like '|' from top to bottom.

##DataFrame(data,index=, columns=)

###when data is dict of series, dict of ndarrays/lists.

###Series' index is DataFrame's index, dict of Series' keys is DataFrame's columns.The series' name will the the columns.

In [124]:
d = {'one' : Series([1., 2., 3.], index=['a', 'b', 'c']),
     'two' : Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd']),
     'three': Series([1,2,3], index=['a','b','c'])}

In [125]:
df = DataFrame(d)
df

   one  three  two
a    1      1    1
b    2      2    2
c    3      3    3
d  NaN    NaN    4

In [126]:
df = DataFrame(d, index=['a','b','d'], columns=['two','three','four'])# index miss 'c', columns miss 'one', add new 'four'。
df

   two  three four
a    1      1  NaN
b    2      2  NaN
d    4    NaN  NaN

###when data is structures or record array, the array will be the row of DataFrame.

###when data is a list of dicts,  the dict will be the row of DataFrame.

In [128]:
d2 = [{'a':1,'b':2},{'a':3,'b':4,'c':5}]
DataFrame(d2)

   a  b   c
0  1  2 NaN
1  3  4   5

In [135]:
# add index, columns and miss some column+ add some column.
DataFrame(d2,index=['first','second'],columns=['a','c','d'])

        a   c   d
first   1 NaN NaN
second  3   5 NaN

## Indexing/Selecting

-v column **d[col]** Series  
-v row by label **d.loc[label]** Series  
-v row by int location **d.iloc[loc]** Series  
-s rows **d[1:3]** DataFrame  
-s rows by boolean vector **d[bool_vec]** DataFrame

##When doing an operation between DataFrame and Series, the default behaviors is to align the Series index on the DataFrame columns, thus broadcasting row-wise.

In [140]:
df

   two  three four
a    1      1  NaN
b    2      2  NaN
d    4    NaN  NaN

In [141]:
df - df.iloc[0]

  two three four
a   0     0  NaN
b   1     1  NaN
d   3   NaN  NaN

In [143]:
df*5+2

   two  three four
a    7      7  NaN
b   12     12  NaN
d   22    NaN  NaN

In [144]:
df**4

   two  three four
a    1      1  NaN
b   16     16  NaN
d  256    NaN  NaN

In [145]:
1/df

    two  three four
a  1.00    1.0  NaN
b  0.50    0.5  NaN
d  0.25    NaN  NaN

In [152]:
df.info()#'Series' object has no attribute 'info'

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, a to d
Data columns (total 3 columns):
two      3 non-null float64
three    2 non-null float64
four     0 non-null object
dtypes: float64(2), object(1)
memory usage: 96.0+ bytes

In [160]:
df['three'] # column has to be accessed by label, not inter location.

a     1
b     2
d   NaN
Name: three, dtype: float64

In [159]:
df.three # If a DataFrame column label is a valid Python variable name, the column can be accessed like attributes with tab complete.

a     1
b     2
d   NaN
Name: three, dtype: float64

##Panel, a container for 3-dimensional data.

##Panel4D, is a 4-Dimensional named container very much like a Panel.